.basketViewItemInfo {
    display: inline-block;
    padding: 10px;
}

.basketItemImg {
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.basketItemViewColumn {
    display: flex;
    align-items: center;
}

.basketItemViewQuantityButton {
    display: block;
    min-width: 5rem !important;
    min-height: 5rem !important;
    border-radius: 50% !important;
}

.basketItemViewQuantityText {
    padding-right: 10px;
}

.basketItemViewQuantityInput {
    width: 50px;
    padding: 10px;
}

.basketItemViewQuantityInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}