#aboutContainer {
    text-align: center;
}

.aboutMushImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

#tomAboutImage {
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}