#FullSplitPageContainer {
    overflow-x: hidden;
    min-height: 100vh;
    height: fit-content;
}

#FullSplitPageImage {
    object-fit: cover;
    z-index: -1;
}

#FullSplitPageTitle {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}