body {
  margin: 0;
  color: #15201D;
  /*background-color: #FAF3E1;*/
  font-family: 'Fredoka', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #15201D;
}

p, th, ul, ol {
  font-size: 1.1em;
}

li {
  padding: 0.5rem 0rem;
}

h1 {
  color: #15201D;
  font-family: "eckmannpsych-Small", sans-serif;
  font-size: min(10vw, 4em);
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h2 {
  /*color: #5A5C35;*/
  color: #15201D;
  font-family: "eckmannpsych-Small", sans-serif;
  font-size: 2em;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}