#navBarContainer {
    box-shadow: 0px 0px;
    background-color: white;
}

#navBarDrawer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: right;
}

#navBarDrawerTitle {
    text-align: center;
}

.navBarItem {
    height: 2.5rem;
    cursor: pointer;
}

.navBarButton {
    background-color: white;
    height: 100%;
    border-width: 0;
    margin-left: .5rem;
    font-size: 1em;
}

.underlineOnHover:hover {
    height: calc(3px + 7vh);
    border-color: black;
    border-bottom-width: 3px;
    margin-bottom: -3px
}