#navBarContainer {
    background-color: white;
    padding: .1rem 0rem;
}

#navBarDrawer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.navBarDrawerTitle {
    text-align: center;
}

.navBarDrawerDivider {
    width: 100%;
}

.navBarItem {
    height: 3.5rem;
    cursor: pointer;
}

.navBarButton {
    background-color: white;
    height: 100%;
    border-width: 0;
    margin-left: .5rem;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.underlineOnHover:hover {
    height: calc(3px + 3.5rem);
    border-color: black;
    border-bottom-width: 3px;
    margin-bottom: -3px
}